body {
  font-family: "Agdasima", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: white;
  background-color: #eef;
  margin: 0;
  padding: 0;
}

#bg-video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    z-index: -1;
}

header {
  font-family: "Press Start 2P", system-ui;
  background-color: #00587e;
  color: white;
  padding: 10px;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

main {
  padding: 20px;
  text-align: center; 
} 

main section p {
  font-size: 40px;
  margin-top: 10px;
}
  
.popup {
  display: none;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.6);
}

.popup-content {
  background-color: #fff;
  color: #000;
  margin: 15% auto;
  padding: 20px;
  border-radius: 15px;
  width: 80%;
  max-width: 500px;
  text-align: center;
  font-family: "Agdasima", sans-serif;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  animation: fadeIn 0.5s ease;
}

.close-btn {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close-btn:hover {
  color: red;
}

@keyframes fadeIn {
  from { opacity: 0; transform: scale(0.8); }
  to { opacity: 1; transform: scale(1); }
}